<div class="hero-unit">
	<h1>Welcome to Kai's website!</h1>
	<p>
		You've found the home page for his
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		application.
	</p>
	<p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
   	</p>
</div>