<div class="hero-unit">
	<h1>Welcome to the official Anarkai website!</h1>
	<p>
		Look at all the cool stuff here!
	</p>
	<p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
   	</p>
</div>